/* Add application styles & imports to this file! */
h1 {
  font-family: 'Audiowide';
}
.calculator {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.display {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 24px;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-family: 'Audiowide';
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: violet;
  cursor: pointer;
}

.buttons button:hover {
  background-color: darkviolet;
}
